<!--
  Copyright (C) 2009 Orbeon, Inc.

  This program is free software; you can redistribute it and/or modify it under the terms of the
  GNU Lesser General Public License as published by the Free Software Foundation; either version
  2.1 of the License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
  without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
  See the GNU Lesser General Public License for more details.

  The full text of the license is available at http://www.gnu.org/copyleft/lesser.html
  -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
    xmlns="http://jakarta.apache.org/log4j/">

    <!-- Logging to a rolling files. Every time the file exceeds a certain size, a backup
         is created and the file used for logging is truncated.
         See: http://logging.apache.org/log4j/docs/api/org/apache/log4j/RollingFileAppender.html -->
    <appender name="RollingFileAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${catalina.base}/logs/orbeon.log"/>
        <param name="MaxFileSize" value="1MB"/>
        <param name="maxBackupIndex" value="200"/>
        <param name="Append" value="false" />
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %p %c{1} %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="INFO" />
            <param name="LevelMax" value="ERROR" />
        </filter>
    </appender>

    <appender name="ParadataFileAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${catalina.base}/logs/paradata-orbeon.log"/>
        <param name="MaxFileSize" value="1MB"/>
        <param name="maxBackupIndex" value="200"/>
        <param name="Append" value="false" />
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %p %c{1} - sessionId:%X{sessionId} ipAddr:%X{ipAddr} userAgent:%X{userAgent} survey:%X{survey} surveyUnit:%X{surveyUnit} OrbeonMessage:%m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="DEBUG" />
            <param name="LevelMax" value="INFO" />
        </filter>
        <!-- Filter useless logs -->
        <filter class="fr.insee.stromae.logging.CustomFilterParadata" />
    </appender>

    <!-- XForms engine activity, see http://wiki.orbeon.com/forms/doc/developer-guide/xforms-logging -->
    <category name="org.orbeon.oxf.xforms.processor.XFormsServer">
        <priority value="debug"/>
    </category>

    <!-- To enable logging for any of the sub-systems below, copy that section outside of the comment block -->


    <!-- Prevent extra display of eXist paging activity -->
    <category name="org.exist.storage.btree.Paged">
        <priority value="warn"/>
    </category>

    <category name="org.exist.storage.DBBroker">
        <priority value="warn"/>
    </category>

    <category name="org.exist.storage.BrokerPool">
        <priority value="warn"/>
    </category>

    <!-- You decide here which one of the loggers listed above you want to use. -->
    <root>
        <priority value="debug"/>
        <appender-ref ref="RollingFileAppender"/>
        <appender-ref ref="ParadataFileAppender"/>
    </root>

</log4j:configuration>