.loading {
  padding-top: 12em;
  text-align: center;
}

.loading img {
  width: 200px;
  filter: drop-shadow(0 0 0.75rem #282c34);
  animation: App-logo-zoom infinite 0.7s alternate;
}

.loading figcaption {
  padding-top: 2em;
}

@keyframes App-logo-zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
