/************************************* CSS Coleman ********************************************/
/* Version anglaise


Toutes les surcharges des css sont effectuées à partir des classes définies par XForms (Eno)
Seuls quelques composants ont du être surchargés sur Orbeon
Liste de ces composants :
  - Police de caractère de la page
  - Bandeau (entête) du haut avec le titre du questionnaire
  - barre de progression
  - les boutons, pour appliquer la charte graphique de l'Insee
  - les exemples (à côté des inputs)

Le reste des composants est ciblé grâce aux classes XForms.
*/

/*----------- Couleur de tous les boutons, regroupée pour une seule modif -----*/
.orbeon .btn,
#menuButton,
.menuBandeau nav > a {
  background-color: #ffe58e;
}
#menuButton:hover,
#menuButton:focus,
.menuBandeau nav > a:hover,
.menuBandeau nav > a:focus,
.orbeon .btn:hover,
.orbeon .btn:focus {
  background-color: #ffeba8;
}

/* For Firefox only (outline)*/
@-moz-document url-prefix() {
  #menuButton:focus {
    outline: dotted black 1px;
  }
}

button.btn[id^="previous"],
button.btn[id^="next"],
button.btn[id^="start"],
.btn.txt {
  background-color: #ffc300;
}

span[id*="cadreLegal"] button.btn[id*="cadreLegal"] {
  background-color: transparent;
  color: #8db0e1;
}
span[id*="cadreLegal"] button.btn[id*="cadreLegal"]:hover,
span[id*="cadreLegal"] button.btn[id*="cadreLegal"]:focus {
  text-decoration: underline;
  color: #0c3a5a;
}

button.btn[id^="previous"]:hover,
button.btn[id^="previous"]:focus,
button.btn[id^="next"]:hover,
button.btn[id^="next"]:focus,
button.btn[id^="start"]:hover,
button.btn[id^="start"]:focus,
.btn.txt:hover,
.btn.txt:focus {
  background-color: #fbd616;
}

/* Gestion du bouton Se reconnecter */
#reconnect-button {
  float: right;
  margin-top: 3em;
}

/* ----------------------------- Police du texte -----------------------------*/
.orbeon * {
  font-family: "Open Sans";
}
.orbeon .fr-section-content *,
.orbeon .submodule * {
  font-size: 13px;
}

/* ---------------------- Gestion du bandeau (entête) ---------------------- */
.orbeon .navbar-inverse .navbar-inner {
  background-color: #f3fafe;
  background-image: none;
  padding: 5px;
}

/* pour gérer la hauteur du bandeau */
.orbeon .navbar-inverse .navbar-inner .container {
  line-height: normal;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* gestion des liens du bandeau ie le menu */
/* changer le nom -> internationaliser */
/* Menu burger */
.menuBandeau {
  background: inherit;
  color: black;
  position: relative;
  padding-bottom: 1em;
}
/* style du bouton "Menu" */
#menuButton {
  border: 1px transparent solid;
  border-radius: 5px;
  color: inherit;
  cursor: pointer;
  font-size: 1.2em;
  height: 1.5em;
  text-align: center;
  display: none; /* ne pas afficher par défaut (actif sur petits écrans)*/
}

/* style du contenant des liens */
.menuBandeau nav {
  padding-top: 0.5em;
  background: inherit;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  display: block; /* afficher par défaut (désactivé sur petits écrans)*/
  /*transition: height 0.2s;*/
}
.menuBandeau nav > * {
  display: block;
  background: white;
  letter-spacing: 1px;
  line-height: 1.5;
  padding-left: 15px;
}
/* syle des liens */
.menuBandeau nav > a {
  border: 1.5px solid;
  border-color: transparent;
  text-decoration: none;
  color: black;
}
/* Changement du style au passage de la souris */
.menuBandeau nav > a:hover {
  height: 1.5em;
  color: black;
  font-weight: bold;
}
.menuBandeau nav > a:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.menuBandeau nav > a:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/** titre du questionnaire **/
h1 span.titre_enquete {
  color: black;
  line-height: normal;
}
/*----------------------------------------------------------------------------*/

/*------------------------ barre de progression ------------------------------*/

.progress-bar-container span.right {
  color: transparent; /* enlever le pourcentage (et aussi "Avancement", à remettre)*/
  text-align: right;
  display: block;
  padding: 1em;
}

span#progress-control .xforms-label p {
  margin-right: 1em;
  color: black; /* afficher "Avancement" de nouveau */
  text-align: right;
}

progress {
  background-color: white;
  width: 10em;
  height: 0.8em;
  border: #0d3970 solid 1px;
}
/* enlever la valeur du pourcentage */
span#progress-percent {
  display: none;
}

/* Retirer le premier input tout en haut (qui sert d'ancre pour remonter en haut de la page après clic sur suivant)*/
/* Remonter en haut pour la page suivante */
/* A REVOIR */
#page-top-control {
  position: absolute;
  top: -1000px;
}

/*------------------ Reprise du questionnaire ------------------*/

.xforms-dialog div.hd.xxforms-dialog-head {
  background: none;
  background-color: #0d3970;
  color: white;
  font-weight: bold;
}

/*------------------ Gestion de l'avertissement de début ------------------*/
.frameAvertissement {
  background-color: #e0e2de;
  padding: 1em;
  border: 2px solid red;
  border-radius: 10px;
}

/*------------------ Libellé de module ------------------*/
.xbl-fr-section .xforms-group h2.fr-section-title {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #0d3970;
  padding: 0.5em;
  background-image: none;
}
/*------------------ Déclaration de module ------------------*/
/* hint, control, help, alert, warning */
.fr-section-content .xforms-label .hint {
  color: #0f417a;
  font-style: italic;
  padding-right: 2em;
  padding-left: 2em;
}
.fr-section-content .xforms-label .control {
  color: #0f417a;
  font-style: italic;
  padding-right: 2em;
  padding-left: 2em;
}
.fr-section-content .xforms-label .help {
  color: #0f417a;
  font-style: italic;
  padding-right: 2em;
  padding-left: 2em;
}
.fr-section-content .xforms-label .alert {
  color: #0f417a;
  font-style: italic;
  padding-right: 2em;
  padding-left: 2em;
}
.fr-section-content .xforms-label .warning {
  color: #0f417a;
  font-style: italic;
  padding-right: 2em;
  padding-left: 2em;
}
.fr-section-content .xforms-label {
  color: #0f417a;
  font-style: italic;
  padding-right: 2em;
  padding-left: 2em;
}
/*------------------ Libellé de sous-module ------------------*/
.fr-section-content .submodule h3 .xforms-label {
  font-size: 18px;
  width: inherit;
  font-weight: bold;
  font-style: normal;
  color: white;
  background-color: #3467ae;
  padding: 0.5em;
  /*Pour que le libellé de sous-module prenne toutes la largeur de l'Encadrement de sous-module*/
  margin-top: -0.9em;
  margin-left: -0.77em;
  margin-right: -0.8em;
}
.fr-section-content .submodule h3 .xforms-label * {
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: #3467ae;
}
/*------------------ Déclaration de sous-module ------------------*/
/* hint, control, help, alert, warning */
.fr-section-content .submodule .xforms-label .hint {
  color: #0f417a;
  font-style: italic;
}
.fr-section-content .submodule .xforms-label .control {
  color: #0f417a;
  font-style: italic;
}
.fr-section-content .submodule .xforms-label .help {
  color: #0f417a;
  font-style: italic;
}
.fr-section-content .submodule .xforms-label .alert {
  color: #0f417a;
  font-style: italic;
}
.fr-section-content .submodule .xforms-label .warning {
  color: #0f417a;
  font-style: italic;
}
.fr-section-content .submodule .xforms-label {
  color: #0f417a;
  font-style: italic;
}

/*------------------ Encadrement de module ------------------*/
/* Personalisation possible */
div.fr-section-content {
}

/*------------------ Encadrement de sous-module ------------------*/
div.submodule {
  border: thin #3467ae solid;
  padding-left: 1em; /* Pour décaler le texte dans les sous-modules*/
  padding-right: 1em;
  padding-bottom: 1em;
  margin-top: 3em; /* séparer les modules entre-eux*/
}

div.submodule:last-of-type {
  margin-bottom: 1em; /* marge plus petite pour le dernier*/
}
div.submodule:first-of-type {
  margin-top: 2em; /* Pour le premier sous-module afin de laisser de l'espace en haut */
}

/*------------------ Pour l'affichage des questions avec les libellés ------------------*/
/* lors d'une classe block définie dans le xforms, mettre l'affichage en "block" */
.block {
  display: block;
}

/* première ligne de libellé de la question */
/* libellé de la question(qui peut être sur plusieurs lignes) */
/* et dans le cas où il y a des déclarations */
/* le dernier cas est lorqu'il n'y a pas de déclaration */
span.block.question:first-of-type,
div.block.question:first-of-type,
span.block.question > span.block:first-of-type,
div.block.question > div.block:first-of-type,
span.question > .xforms-label:first-of-type,
div.question > .xforms-label:first-of-type {
  font-weight: bold;
  font-style: normal;
  color: black;
  display: block;
  padding: 0em;
  text-indent: 0em;
  margin-top: 2em; /*séparer les questions entre elles*/
  cursor: default; /* mettre un curseur normal au lieu d'une main */
  white-space: normal;
}

/* gestion de libellé sur plusieurs lignes */
span.block.question .block,
div.block.question .block {
  font-weight: bold;
  font-style: normal;
  color: black;
  display: block;
  padding: 0em;
  text-indent: 0em;
  cursor: default; /* mettre un curseur normal au lieu d'une main */
  white-space: normal;
}
/* Pour gérer les déclarations avant les questions, pour les rapprocher */
span.statement.xforms-control label,
div.statement.xforms-control label {
  color: black;
  display: block;
  padding: 0em;
  font-style: italic;
  margin-bottom: -2em;
  margin-top: 2em; /* c'est la déclaration qui porte l'espacement entre elle et la question précédente */
  white-space: normal;
}

/* définir un style différent selon le type de déclaration : control, hint(consigne), help(aide), alert, warning */
.question .xforms-label .block.control {
  font-weight: normal;
  color: black;
  font-style: italic;
  text-indent: 0em;
  padding-left: 1em;
  white-space: normal;
}
.question .xforms-label .block.hint {
  font-weight: normal;
  color: black;
  font-style: italic;
  text-indent: 0em;
  padding-left: 1em;
  white-space: normal;
}
.question .xforms-label .block.help {
  font-weight: normal;
  color: black;
  font-style: italic;
  text-indent: 0em;
  padding-left: 1em;
  white-space: normal;
}
.question .xforms-label .block.alert {
  font-weight: normal;
  color: black;
  font-style: italic;
  text-indent: 0em;
  padding-left: 1em;
  white-space: normal;
}
.question .xforms-label .block.warning {
  font-weight: normal;
  color: black;
  font-style: italic;
  text-indent: 0em;
  padding-left: 1em;
  white-space: normal;
}
.question .xforms-label .block {
  font-weight: normal;
  color: black;
  font-style: italic;
  text-indent: 0em;
  padding-left: 1em;
  white-space: normal;
}

/*-------------------------- Gestion des tableaux ----------------------------*/

/* indentation des entêtes de ligne dans les tableaux */
table.question.multiple-choice-question tbody th.depth2,
table.question.complex-grid tbody th.depth2 {
  text-indent: 2em;
}
table.question.multiple-choice-question tbody th.depth3,
table.question.complex-grid tbody th.depth3 {
  text-indent: 4em;
}

/* label dans les tabeaux */
.fr-section-content table .xforms-label,
.fr-section-content .submodule table .xforms-label {
  font-weight: normal;
  padding: 0em;
  font-style: normal;
  color: black;
}

/* question complex-grid */
table.question.complex-grid {
  border: 1px #b0aeae solid; /*choix des bordures */
  margin-bottom: 0.5em;
}
/* Entête de colonne */
table.question.complex-grid thead th {
  border: 1px #b0aeae solid;
  padding: 0.5em;
  /* PROVISOIRE : Pour les tableaux qui dépassent sur les petits écrans */
  background-color: white;
}
/* Pour le style du label dans l'entête de colonne*/
table.question.complex-grid thead th label.xforms-label {
  font-weight: bold;
}
/* En-tête de ligne */
table.question.complex-grid tbody th {
  border: 1px #b0aeae solid;
  padding: 0.5em;
  text-align: left;
  /* PROVISOIRE : Pour les tableaux qui dépassent sur les petits écrans */
  background-color: white;
}
/* cellule*/
table.question.complex-grid td {
  border: 1px #b0aeae solid;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: left;
  /* PROVISOIRE : Pour les tableaux qui dépassent sur les petits écrans */
  background-color: white;
}
/*-----------------------*/

/* question multiple-choice-question */
table.question.multiple-choice-question {
  border: 1px solid #b0aeae;
}
/* Entête de colonne */
table.question.multiple-choice-question thead th {
  border: none; /* pas de bordure */
  border-right: 0; /* pas de bordure au milieu*/
  padding: 0.5em;
  /* PROVISOIRE : Pour les tableaux qui dépassent sur les petits écrans */
  background-color: white;
}
/* Pour le style du label dans l'entête de colonne*/
table.question.multiple-choice-question thead th label.xforms-label {
  font-weight: bold;
}
/* Entête de ligne */
table.question.multiple-choice-question tbody th {
  border: 1px solid #b0aeae;
  border-right: none; /* pas de bordure au milieu*/
  padding: 0.5em;
  text-align: left;
  width: 40em; /* eviter les libellés trop longs et permettre un retour à la ligne */
}
/* Changement de couleur 1 ligne sur deux */
table.question.multiple-choice-question.long-table tbody tr:nth-child(2n + 1) {
  background-color: white;
}
table.question.multiple-choice-question.long-table tbody tr:nth-child(2n) {
  background-color: Gainsboro;
}

/* cellule*/
table.question.multiple-choice-question td {
  border: 1px solid #b0aeae;
  border-left: none; /* pas de bordure */
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: left;
}

/* Affichage en ligne des modalités de réponse */
table.question.multiple-choice-question td span.xforms-deselected,
table.question.multiple-choice-question td span.xforms-selected {
  display: inline;
}

/* Aligner les modalités et cases à cocher horizontalement pour les questions images */
span.image span.xforms-items span.xforms-selected,
span.image span.xforms-items span.xforms-deselected {
  display: inline;
}
/*----------------------------------------------------------------------------*/

/*---------------------------- Gestion des inputs ----------------------------*/
/* largeur par défaut */
.xforms-input-input[maxlength] {
  width: 14em;
}
/* largeur pour les input de maxlength<=8 */
.xforms-input-input[maxlength="8"],
.xforms-input-input[maxlength="7"],
.xforms-input-input[maxlength="6"],
.xforms-input-input[maxlength="5"],
.xforms-input-input[maxlength="4"],
.xforms-input-input[maxlength="3"],
.xforms-input-input[maxlength="2"],
.xforms-input-input[maxlength="1"] {
  width: 7em;
}
.xforms-input-input[maxlength],
.xforms-input-input.xforms-type-date {
  margin-left: 1em; /* indenter */
}
table .xforms-input-input[maxlength] {
  margin-left: 0; /*pas d'indentation dans les tableaux */
}

/* taille des inputs de type nombre */
.number .xforms-input-input {
  width: 150px;
  text-align: right;
}

/* prendre toute la largeur quel que soit l'input de type textarea */
span.question.text > textarea {
  width: 98%;
  border: 2px solid lightgrey; /* bordure des textarea */
  margin-left: 1em; /* indenter */
}
/* permet d'avoir un espace entre l'unité (suffixe) et le champ de saisie*/
span.suffix,
span.double-duration-suffix {
  padding-left: 1em;
}
/* permet d'éviter le retour à la ligne de l'unité de champ*/
td span.xforms-input {
  white-space: nowrap;
}

/* mettre l'alerte à côté de l'input */
.orbeon .xforms-visited > .xforms-alert.xforms-active:not(:empty),
.orbeon .xforms-visited.xforms-alert.xforms-active:not(:empty) {
  display: block;
  margin-left: 1em;
}
/* changer la couleur du warning */
.orbeon .xforms-warning > .xforms-alert.xforms-active,
.orbeon .xforms-alert.xforms-active.xforms-warning {
  color: red; /* A DEFINIR */
}

/* Permet d'avoir l'exemple à côté -> PLUS D'EXEMPLE DESORMAIS*/
.orbeon .xforms-hint-appearance-full .xforms-hint,
.orbeon .xforms-hint-appearance-inline .xforms-hint {
  margin-left: 1em;
  display: inline;
  font-size: 0.9em;
}

/* Gestion des inputs dates */
span.question.duration.xforms-control.xforms-input {
}

/*---------------------------- Gestion des Checkbox --------------------------*/
label.checkbox {
  margin-left: 1em; /*indenter*/
}

/*---------------------------- Gestion des Radio --------------------------*/
label.radio {
  margin-left: 1em; /*indenter*/
}

/*----------------- Gestion des listes déroulantes (select) --------------------*/
.orbeon select {
  margin-left: 1em; /*indenter*/
}

/*----------------- Gestion des listes déroulantes pour les durées --------------------*/
.question.date > select {
  width: 6em; /*largeur*/
  display: inline;
}
/*largeur plus importante pour les mois*/
.question.date > select[id*="-layout-M"] {
  width: 8em; /*largeur*/
  display: inline;
}

.question.duration,
.duration {
  display: inline;
}

/*------------------- Espacement libellé ----------------------*/
.xforms-deselected span p,
.xforms-selected span p {
  margin: 0px;
}

/*------------------- Supprimer toutes les icônes en haut ----------------------*/
.orbeon .navbar .navbar-inner .container .fr-status-icons {
  display: none;
}

/*--------------------------- Gestion des boutons ----------------------------*/
/* correspond au boutons :
  - Commencer
  - Retour
  - Enregistrer et Continuer
  - Envoyer
  - Revenir à la dernière page accédée
  - Aller à la première page
*/

/* contenu des boutons */
.orbeon .fr-buttons .xforms-trigger button,
.orbeon .xforms-trigger button,
.orbeon .btn {
  margin-left: 4px; /* espacement des boutons*/
  margin-bottom: 4px; /* espacement des boutons */
  display: inline-block;
  text-shadow: none; /* enlever l'ombre du texte par defaut */
  color: black; /* couleur du texte */
  font-weight: bold;
  width: auto; /* Affichage correct des bouton "Retour" et "Enregistrer et continuer" */
}
/* Mettre en surgras souligné lors d'un passage de la souris */
.orbeon .fr-buttons .xforms-trigger button:hover,
.orbeon .xforms-trigger button:hover {
  margin-left: 4px;
  margin-bottom: 4px;
  display: inline-block;
  text-shadow: none;
  color: black;
  font-weight: bolder;
  text-decoration: underline;
}
/* contenant des boutons*/
.orbeon .btn {
  background-image: none; /* enlever l'image de fond par défaut */
  box-shadow: none;
  border: 2px transparent;
}
/* Changement de la couleur (plus clair) lors d'un passage de la souris*/
.orbeon .btn:hover,
.orbeon .btn:focus {
  background-image: none;
  box-shadow: none;
  border: 2px transparent;
}

.orbeon .btn[id^="previous"]:hover,
.orbeon .btn[id^="previous"]:focus {
  float: left;
}

/*-------------------------- Affichage du readonly ----------------------------*/
.xforms-readonly *,
/* Les libellés des questions */
.xforms-readonly span.block.question:first-of-type,
.xforms-readonly span.block.question > span.block:first-of-type,
.xforms-readonly span.question > .xforms-label:first-of-type,
/* les déclarations des questions */
.xforms-readonly span.statement.xforms-control label,
.xforms-readonly .question .xforms-label .block.control,
.xforms-readonly .question .xforms-label .block.hint,
.xforms-readonly .question .xforms-label .block.help,
.xforms-readonly .question .xforms-label .block.alert,
.xforms-readonly .question .xforms-label .block.warning,
.xforms-readonly .question .xforms-label .block,
/* les entêtes de tableaux */
.fr-section-content table .xforms-readonly .xforms-label,
.fr-section-content .submodule table .xforms-readonly .xforms-label,
/* champ input et textarea */
.xforms-readonly span.question > textarea,
.xforms-readonly input.xforms-input-input {
  font-style: italic;
  color: #cbcbcb;
  cursor: not-allowed;
}

/*------------------ Spécificité selon la taille de l'écran ------------------*/

/* Augmenter la largeur du questionnaire sur grand écran */
/* Par défaut, Orbeon fixe à 940px */
@media (min-width: 1000px) {
  .orbeon .container {
    width: 1000px;
  }
  .orbeon [class*="span"] {
    width: 1000px;
  }
}

/****** Pour les écrans de plus de 750px ********/
@media all and (min-width: 750px) {
  /* gestion de la taille de l'image */
  .orbeon .navbar-inverse .navbar-inner .container img {
    vertical-align: middle;
    max-height: none;
    height: 100px;
    padding: 1em;
    display: inline-block;
  }

  /* titre du questionnaire */
  .orbeon .navbar-inverse .navbar-inner .container h1 {
    display: inline-block;
    font-size: 1.5em;
    width: 500px;
  }

  /* à regler l'affichage sur la droite*/
  span.right {
    float: right;
  }
  /* hauteur de la barre de progression */
  .progress-bar-container {
    height: 5em;
  }

  .navbar-inner div.menuBandeau {
    text-align: right;
    float: right;
  }

  /* boutons */
  .orbeon .fr-buttons {
    display: inline;
    float: right;
  }

  #menuButton {
    display: none; /*ne pas afficher le menu burger*/
  }
  .menuBandeau nav {
    display: block; /* afficher le menu */
  }

  .menuBandeau nav > a {
    padding: 3px;
    letter-spacing: 0px;
    border-radius: 5px;
    vertical-align: middle;
    margin: 4px;
  }
}

@media all and (max-width: 1000px) {
  .navbar-inner div.menuBandeau {
    float: none;
  }
}

/* pour les petits écran (smartphone, tablettes, etc) */
@media all and (max-width: 750px) {
  /* gestion de l'image de l'entête (centrer l'image)*/
  .orbeon .navbar-inverse .navbar-inner .container img {
    vertical-align: middle;
    max-height: none;
    height: 75px;
    padding-right: 1em;
    margin: 0;
    float: left;
  }

  /* titre du questionnaire contenant */
  .orbeon .navbar-inverse .navbar-inner .container h1 {
    display: inline;
    text-align: right;
    font-size: 1em;
  }
  /** titre du questionnaire **/
  h1 span.titre_enquete {
    font-size: 1.2em;
    color: black;
    line-height: normal;
  }

  body {
    width: auto;
  }

  /* gestion des liens du bandeau ie le menu */
  /* avoir un beau rendu */
  div.menuBandeau {
    display: inline;
  }
  #menuButton {
    white-space: nowrap;
    display: block;
    float: right; /* afficher le menu burger*/
  }
  .menuBandeau nav {
    display: none;
    float: right;
    width: 100%;
    text-align: center;
  }

  /* bouton "Mon Compte" : à faire disparaître pour les enquêtes en panel*/
  /*.navbar-inner div.menuBandeau > div.contact:first-of-type {
    display: none;
  }
  .navbar-inner div.menuBandeau > div.contact:first-of-type:hover {
    display: none;
  }*/

  /* boutons */
  .orbeon .fr-buttons {
    display: inline;
    float: right;
  }

  div.xxforms-dialog-body {
    text-align: center;
  }
  p {
    text-align: left;
  }

  /* permet d'avoir un espace entre l'unité (suffixe) et le champ de saisie*/
  span.suffix,
  span.double-duration-suffix {
    padding-left: 0.5em;
  }
}
@media all and (max-width: 500px) {
  .orbeon .xforms-error-panel {
    width: 97%;
  }
}

/*---------------------------- Accessibilité --------------------------*/

div.xbl-fr-section.xforms-case-deselected {
  visibility: hidden;
}
div.xbl-fr-section.xforms-case-deselected-subsequent {
  visibility: hidden;
}
