name: Build docker

on: workflow_dispatch

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: script download and clean Orbeon
        run: |
         chmod +x ./script/getCleanedOrbeon.sh
         ./script/getCleanedOrbeon.sh $ORBEON_URL_CE
        shell: bash
        env:
          ORBEON_URL_CE: https://github.com/orbeon/orbeon-forms/releases/download/tag-release-2017.1-ce/orbeon-2017.1.201706222342-CE.zip

      - name: Build with Maven
        run: mvn clean install
 
      - name: Upload war
        uses: actions/upload-artifact@v2
        with:
          name: war
          path: target/*.war

  docker:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Download build
        id: download
        uses: actions/download-artifact@v2
        with:
          name: war
          path: target/

      - name: Publish to Registry
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: opherogel/stromae
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

  