name: Playwright Tests
on:
  push:
    branches: [main, master, test/e2e]
  pull_request:
    branches: [main, master, test/e2e]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install dependencies
        run: yarn
      - name: Install Playwright Browsers
        run: yarn playwright install --with-deps
      - name: Run Playwright tests
        run: npx concurrently -k -s first -n "SB,TEST" -c "magenta,blue" "yarn start" "npx wait-on http://localhost:3000 && yarn run playwright test"

      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
